%font-56 {
	font-size: max(36px, 3.5rem);
	font-weight: 700;
	line-height: 1.05;
}

%font-40 {
	font-size: max(28px, 2.5rem);
	font-weight: 700;
}

%font-32 {
	font-size: max(24px, 2rem);
	font-weight: 700;
}

%font-28 {
	font-size: max(28px, 1.75rem);
	font-weight: 700;
}

%font-24 {
	font-size: max(24px, 1.5rem);
	font-weight: 700;
}

%font-18 {
	font-size: max(15px, 1.125rem);
	font-weight: 700;
}

%font-15 {
	font-size: max(15px, 0.938rem);
}

%font-14 {
	font-size: max(14px, 0.875rem);
}

%font-13 {
	font-size: max(13px, 0.813rem);
}

%font-12 {
	font-size: max(12px, 0.75rem);
}
